FRP_MANAGER_VERSION=latest
APP_GLOBAL_SECRET=replace-with-output-of-openssl-rand-base64-48

MASTER_API_HOST=manager.example.com
MASTER_API_PORT=9000
MASTER_API_SCHEME=https
MASTER_RPC_HOST=manager.example.com
MASTER_RPC_PORT=9001

APP_COOKIE_SECURE=true
APP_TRUSTED_PROXIES=127.0.0.1,::1
APP_ENABLE_REGISTER=false
APP_AUTO_UPDATE=true
